.tableHead{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #11a8ab;
  color: #fff;
  text-transform: capitalize;
  position: sticky;
  top: 0;
  &_column{
    display: flex;
    justify-content: center;
    padding: 5px;
    border-right: 1px solid #1f253d;
    flex: 0 1 120px;
    &.active{
      border-top-left-radius: 5px;
      background-color: #15d2d6;
    }
    &:nth-child(2){
      flex-basis: 0;
      flex-grow: 1;
    }
    &:last-child{
      border-right: none;
    }
  }
}