.searchAutocomplete{
  width: 590px;
  margin: 0 auto;
  max-height: 250px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #50597b;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  z-index: 1;
  overflow-y: hidden;
  &_row{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #1f253d;
    &__item{
      display: flex;
      justify-content: center;
      flex: 0 1 70px;
      border-right: 1px solid #1f253d;
      height: 35px;
      align-items: center;
      color: #fff;
      &:last-child{
        border-right: none;
      }
      &:nth-child(2){
        flex-basis: 0;
        flex-grow: 1;
        justify-content: flex-start;
        padding-left: 5px;
      }
    }
  }
}